* {
    margin: 0px;
}

html {
    box-sizing: border-box;
}


body {
    font-family: 'Nunito', sans-serif;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    padding: 10px;
    background-color: rgb(60, 60, 60);
    color: aliceblue;
}

h5 {
    text-align: center;
    font-size: 18px;
    padding: 30px;
}

.completa {
    text-decoration: line-through;
    color: rgb(60, 60, 60);
}

/* DATOS */
.datos {
    background-color: rgb(60, 60, 60);
    display: flex;
    justify-content: center;
    padding: 15px;
    gap: 10px;
}

.datos p {
    background-color: rgb(20, 32, 47);
    color: aliceblue;
    padding: 6px 10px;
    border-radius: 5px;
}


/* CONTENEDOR */
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 15px;
}

.contenedor .formulario {
    padding: 20px;
    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(155, 157, 159);
    color: #fff;
    max-height: 110px;
}

.contenedor .formulario input[type="text"] {
    border: none;
    padding: 8px;
}

.contenedor .formulario input[type="text"]:focus {
    outline: none;
    border-bottom: 5px solid rgb(120, 124, 130);
    ;
}

.contenedor .formulario input[type="submit"] {
    border: none;
    padding: 10px;
    background-color: rgb(109, 113, 119);
    color: #fff;
    cursor: pointer;
}




/* TAREAS */
.contenedor .works {
    padding: 10px;
    margin: 10px;
    background-color: rgb(215, 236, 250);
}

.contenedor .item-work {
    display: flex;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px;
    margin: 10px 2px;
}

.eliminar {
    border: none;
    background-color: rgb(255, 0, 89);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 8px;
}

.eliminar:hover {
    transform: scale(1.3);
}

.completada {
    border: none;
    background-color: rgb(9, 255, 0);
    color: #ffffff;
    border-radius: 4px;
    cursor: pointer;
    transition: transform ease 300ms;
    padding: 7px;
}

.completada:hover {
    transform: scale(1.3);
}


@media (max-width: 600px) {
    .contenedor {
        display: grid;
        grid-template-columns: 1fr;
        margin: 15px;
    }
}